{% extends 'base.html' %} {% block content %}
<h1>{{ user.first_name }} {{ user.last_name }}</h1>

{% if user.image_url %}
<img src="{{ user.image_url }}" alt="image" />
{% endif %}
<a href="/users/{{ user.id }}/edit">
  <button>Edit</button>
</a>

<form action="/users/{{ user.id }}/delete" method="POST">
  <button>Delete</button>
</form>
<div class="post-info">
  <h3>Posts</h3>
  <ul>
    {% for post in user.posts_list%}
    <li>
      <a href="/posts/{{post.id}}"> {{post.title}} </a>
    </li>
    {% endfor %}
  </ul>
  <a href="/users/{{ user.id }}/posts/new">
    <button>Add Post</button>
  </a>
</div>

{% endblock %}
